.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.apiData {
    text-align: center;
    width: 100%;

}

.api-data {
    background-color: bisque;
    padding: 20px;
}

.apiItem {
    background-color: rgb(104, 139, 56);
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: white;
}
