body {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.header-font {
    font-size: 400%;
}

.article {
    flex: 1;
    margin: 10px;
}

.article img {
    max-width: 100%;
}

.article h2 {
    font-size: 24px;
    margin: 10px 0;
}

.article p {
    margin: 10px 0;
}

.line {
    border: 0;
    border-top: 1px solid rgb(99, 99, 99);
}

.outline {
    border: 1px solid rgb(207, 205, 205);
}

.pad {
    margin-top: 15px;
    margin-bottom: 15px;
}

.bottom-pad {
    margin-bottom: 20px;
}

.min-pad {
    margin-top: -5px !important;
}

.end {
    margin-bottom: 100px;
}

.align-items-center {
    display: flex !important;
    flex-wrap: nowrap !important;
}

@media screen and (max-width: 820px) {

    .col-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .text-right {
        text-align: center !important;
    }

    .row {
        display: flex;
        flex-wrap: nowrap;
        margin-right: -15px;
        margin-left: -15px;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }




}



@media screen and (max-width: 375px) {

    .header-font {
        font-size: 200% !important;
    }

}
