.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.apiData {
    text-align: center;
    width: 100%;

}

.api-data {
    background-color: bisque;
    padding: 20px;
}
